@keyframes facebook {
    0%{
        background-image: url(../media/iconos/fb_white.svg);
    }
    50%{
        background-image: url(../media/iconos/fb_color.svg);
    }
    100%{
        background-image: url(../media/iconos/fb_color.svg);
    }
}
@keyframes instagram {
    0%{
        background-image: url(../media/iconos/ig_white.svg);
    }
    50%{
        background-image: url(../media/iconos/ig_color.svg);
    }
    100%{
        background-image: url(../media/iconos/ig_color.svg);
    }
}