.titulo__mobile {
    @include tituloMobile;
}
.titulo__mobile--blanco {
    @include tituloMobile;
    color: $blanco;
}
.tagline {
    font-size: 1.75rem;
    font-weight: $bold;
    margin-bottom: 1rem;
}
.bold {
    font-size: 1.25rem;
    font-weight: $bold;
    margin: .5rem 0;
}
.amarillo {
    color: $amarillo;
}
.rosa {
    color: $rosa;
}
.azul {
    color: $azul;
}
.verde {
    color: #80ff80;
}
.zona_titulo {
    font-size: 1.75rem;
    font-weight: $bold;
}
.zona_subtitulo {
    font-size: 1.25rem;
    font-weight: $medium;
}
.zona_lofigirl {
    font-size: 1.1rem;
    font-weight: $bold;
    color: $azul;
    text-shadow: 3px 3px 2px rgb(22, 22, 22);
    margin-bottom: .25rem;
}
header.navbar__mobile {
    .bg-negro {
        background-color: #1d1d1dec;
        .botonera {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            color: $blanco;
            span {
                font-size: 1.2rem;
                padding: .5rem;
            }
        }
    }
    nav {
        button {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            border: none;
            background-color: transparent;
            &:focus {
                outline: none;
            }
            .logoMenu {
                padding: .5rem;
            }
        }
    }
}
footer {
    height: 15rem;
    width: 100%;
    background-color: $negro;
    color: $blanco;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    .footer__texto {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        p {
            padding: .21.75rem 0;
            font-weight: $medium;
        }
        .footer__botonera {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            width: 100%;
        }
        .footer__botonera--redes {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 50%;
            margin-top: 1rem;
        }
    }
}
.instagram {
    background-image: url(../media/iconos/ig_white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.25rem;
}
.facebook {
    background-image: url(../media/iconos/fb_white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.25rem;
    margin-left: 1rem;
}

.modal-title {
    font-weight: bold;
    font-size: 2rem;
    color: $negro;
}
.subtituloProductos {
    font-weight: $medium;
    font-size: 1.25rem;
    color: $azul;
    margin: .5rem;
}
.precioProductos {
    font-weight: $bold;
    color: $rosa;
    margin: .5rem;
}
.btn-cerrar {
    @include botonModalPedido;
    background-color: #858585;
    color: $blanco;
    font-weight: $medium;
}
.btn-agregar {
    @include botonModalPedido;
    background-color: $amarillo;
    color: $negro;
    font-weight: $medium;
}
.btn-pedido {
    @include botonModalPedido;
    margin-top: 2rem;
    height: 3rem;
    width: 11rem;
    border-radius: .5rem;
    border: 2px solid $negro;
    background-color: $blanco;
    color: $azul;
    font-size: 1.1rem;
    font-weight: $bold;
}
.btn-hacer {
    @include botonModalPedido;
    background-color: $negro;
    border: 2px solid $blanco;
    color: $blanco;
    font-size: 1.25rem;
    font-weight: $medium;
}
.texto {
    margin: .5rem;
}

@media all and (min-width: 768px) {
    .titulo__mobile {
        font-size: 2rem;
    }
    .titulo__mobile--blanco {
        font-size: 2rem;
        color: $blanco;
    }
    .tagline {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    .resaltador {
        font-size: 1.5rem;
    }
    .bold {
        font-size: 1.75rem;
        margin: .5rem 0;
    }
    .zona_titulo {
        font-size: 3rem;
    }
    .zona_subtitulo {
        font-size: 2rem;
    }
    .zona_lofigirl {
        font-size: 2rem;
        text-shadow: 3px 3px 2px rgb(22, 22, 22);
        margin-bottom: .25rem;
    }
    .navbar__mobile {
        .bg-negro {
            .botonera {
                span {
                    font-size: 1.5rem;
                    padding: .5rem;
                }
            }
        }
    }
    footer {
        height: 17rem;
        .footer__texto {
            flex-flow: column nowrap;
            justify-content: center;
            width: 100%;
            p {
                margin-left: 1.5rem;
            }
            .footer__botonera {
                flex-flow: row nowrap;
                justify-content: center;
                .footer__botones {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                }
            }
            .footer__botonera--redes {
                justify-content: center;
                width: 100%;
                margin-top: 1rem;
            }
        }
    }
    .instagram {
        padding: 1.75rem;
    }
    .facebook {
        padding: 1.75rem;
        margin-left: 1rem;
    }
    
    .modal-title {
        font-size: 2.5rem;
    }
    .subtituloProductos {
        font-size: 2rem;
        margin: .5rem 1rem;
    }
    .precioProductos {
        margin: 1rem;
        font-size: 1.5rem;
    }
    .btn-cerrar {
        font-size: 1.25rem
    }
    .btn-agregar {
        font-size: 1.5rem;
    }
    .btn-pedido {
        margin-top: 2rem;
        height: 3.5rem;
        width: 13rem;
        font-size: 1.25rem;
    }
    .btn-hacer {
        font-size: 1.5rem;
    }
    .texto {
        margin: .5rem;
    }
}

@media all and (min-width: 992px) {
    header.navbar__desktop {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        .copyexpress {
            flex-grow: 1;
            .express__amarillo {
                transition: color 400ms linear;
                &:hover {
                    color: $amarillo;
                }
            }
            .express__rosa {
                transition: color 400ms linear;
                &:hover {
                    color: $rosa;
                }
            }
            .express__azul {
                transition: color 400ms linear;
                &:hover {
                    color: $azul;
                }
            }
        }
        .botonera__desktop {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            font-size: 1.25rem;
            .pedido {
                margin: 0 1rem;
                transition: color 400ms linear;
                &:hover {
                    color: $rosa;
                }
            }
            .contacto {
                margin-right: 1rem;
                transition: color 400ms linear;
                &:hover {
                    color: $amarillo;
                }
            }
            .zona {
                margin-right: 1.5rem;
                transition: color 400ms linear;
                &:hover {
                    color: $azul;
                }
            }
        }
        .botonera__desktop--redes {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            .instagram {
                padding: 1.5rem;
                background-image: url(../media/iconos/ig_black.svg);
                transition: background-image 400ms linear;
                &:hover {
                    background-image: url(../media/iconos/ig_color.svg);
                }
            }
            .facebook {
                padding: 1.5rem;
                background-image: url(../media/iconos/fb_black.svg);
                transition: background-image 400ms linear;
                &:hover {
                    background-image: url(../media/iconos/fb_color.svg);
                }
            }
        }
    }
    .titulo__mobile {
        font-size: 1.75rem;
    }
    .titulo__mobile--blanco {
        font-size: 2rem;
        color: $blanco;
    }
    .tagline {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .resaltador {
        font-size: 1rem;
    }
    .bold {
        font-size: 1.5rem;
        margin: .5rem 0;
    }
    .zona_titulo {
        font-size: 3rem;
    }
    .zona_subtitulo {
        font-size: 2rem;
    }
    .zona_lofigirl {
        font-size: 2rem;
        text-shadow: 3px 3px 2px rgb(22, 22, 22);
        margin-bottom: .25rem;
    }
    .navbar__mobile {
        .bg-negro {
            .botonera {
                span {
                    font-size: 1.5rem;
                    padding: .5rem;
                }
            }
        }
    }
    footer {
        height: 12rem;
        .instagram {
            padding: 1rem;
        }
        .facebook {
            padding: 1rem;
            margin-left: 1rem;
        }
        .footer__texto {
            flex-flow: column nowrap;
            justify-content: center;
            width: 100%;
            p {
                margin-left: 1.5rem;
            }
            .footer__botonera {
                flex-flow: row nowrap;
                justify-content: center;
                .footer__botones {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                }
            }
            .footer__botonera--redes {
                justify-content: center;
                width: 100%;
                margin-top: 1rem;
            }
        }
    }
    .modal-title {
        font-size: 2rem;
    }
    .subtituloProductos {
        font-size: 1.5rem;
        margin: .5rem 1rem;
    }
    .precioProductos {
        margin: 0 .5rem;
        font-size: 1.25rem;
    }
    .btn-cerrar {
        font-size: 1rem
    }
    .btn-agregar {
        font-size: 1rem;
    }
    .btn-pedido {
        color: $negro;
        margin-top: .5rem;
        border-right: 2px solid #000000b6;
        border-bottom: 2px solid #000000b6;
        border-left: 2px solid #5a5a5a90;
        border-top: 2px solid #5a5a5a90;
        box-shadow: 3px 3px 3px #1d1d1db3;
        height: 2.5rem;
        width: 10rem;
        font-size: 1.1rem;
        transition: all 250ms linear;
        padding: 0;
        &:hover {
            transform: translateY(-.25rem);
            box-shadow: 3px 3px 6px #63064493;
            border-left: 2px solid #cccccc90;
            border-top: 2px solid #cccccc90;
        }
        &:active {
            transform: translateY(.25rem);
        }
    }
    .btn-hacer {
        font-size: 1rem;
    }
    .texto {
        margin: .5rem;
    }
}