.titulo__mobile {
    @include tituloMobile;
}
.titulo__mobile--blanco {
    @include tituloMobile;
    color: $blanco;
}
.tagline {
    font-size: 1.75rem;
    font-weight: $bold;
    color: $amarillo;
    margin-bottom: 1rem;
}
.amarillo {
    color: $amarillo;
}
.rosa {
    color: $rosa;
}
.azul {
    color: $azul;
}
.navbar__mobile {
    .bg-negro {
        background-color: #1d1d1dec;
        .botonera {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            color: $blanco;
            span {
                font-size: 1.2rem;
                padding: .5rem;
            }
        }
    }
    nav {
        button {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            border: none;
            background-color: $blanco;
            &:focus {
                outline: none;
            }
            .logoMenu {
                padding: .5rem;
            }
        }
    }
}
.footer {
    height: 15rem;
    width: 100%;
    background-color: $negro;
    color: $blanco;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    .redesFooter {
        width: 80%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        p {
            padding: 0 .25rem;
        }
        .botoneraFooter {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
    }
}
.modal-title {
    font-weight: bold;
    font-size: 2rem;
    color: $negro;
}
.subtituloProductos {
    font-weight: $medium;
    font-size: 1.25rem;
    color: $azul;
    margin: .5rem;
}
.precioProductos {
    font-weight: $bold;
    color: $rosa;
    margin: .5rem;
}
.btn-cerrar {
    @include botonModalPedido;
    background-color: #858585;
    color: $blanco;
    font-weight: $medium;
}
.btn-agregar {
    @include botonModalPedido;
    background-color: $amarillo;
    color: $negro;
    font-weight: $medium;
}