@mixin cuadros {
    border-radius: .5rem;
    box-shadow: 5px 5px 4px #1d1d1d90;
    background-color: $blanco;
    padding: 1rem;
}
@mixin tituloMobile {
    color: $negro;
    font-size: 1.5rem;
    font-weight: $medium;
    padding: .5rem;
}
@mixin botonModal {
    display: inline-block;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .5rem;
    height: 7.5rem;
    width: 100%;
    box-shadow: 5px 5px 4px #1d1d1d90;
    &:focus {
        outline: none;
    }
}
@mixin botonModalPedido {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    &:focus {
        outline: none;
    }
}
@mixin flexCC {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
@mixin fondoNegro {
    height: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1.25rem;
    color: $blanco;
}